* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.common-paragraph {
    font-size: 1.2rem;
    line-height: 1.3;
    color: #333;
    margin: 0.8rem 0;
}
.common-btn {
    padding: 0.8rem 1.5rem;
    border: 1px solid transparent;
    color: #ffffff;
    background-color: #e02c6d;
    cursor: pointer;
}

#header {
    width: 90%;
    margin: 1rem auto;
}
#header #headerLogo-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}
#header #headerLogo-navbar > a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}
#header #headerLogo-navbar #navbar ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}
#header #headerLogo-navbar #navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 1rem 2rem;
    border: 1px solid #ddd;
}

#header #header-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    margin: 3rem 0;
}
#header #header-banner #banner-content {
    max-width: 50%;
}
#header #header-banner #banner-content h1 {
    font-size: 4.5rem;
    color: #333;
    margin-bottom: 1rem;
}
#header #header-banner #prebook-btn {
    border-radius: 20px;
}
#header #header-banner #banner-img {
    position: relative;
}
#header #header-banner #banner-img .main-camera {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

#header #header-sponsor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 5rem 0;
    border-top: 1px solid #3333333f;
    border-bottom: 1px solid #3333333f;
    padding: 1.5rem 0;
}

#main {
    width: 90%;
    margin: 4rem auto;
}
#main #popular-collection {
    width: 80%;
    margin: 0 auto;
}
#main #popular-collection > h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 2rem;
    text-align: center;
}

#main #collection-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
#main #collection-container .collection {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}
#main #collection-container .collection div {
    padding: 1rem;
}
#main #collection-container .collection img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}
#main #collection-container .collection h2 {
    font-size: 1.8rem;
    color: #333;
    margin: 0.4rem 0;
}
#main #collection-container .collection h3 {
    font-size: 1.4rem;
    color: #222;
    margin: 0.2rem 0;
}
#main #collection-container .collection .rating {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.2rem;
    padding: 0;
}
#main #collection-container .collection .rating > div {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    /* color: #FB8200; */
    color: #00b9c6;
    padding: 0.4rem 0;
    font-size: 1rem;
}
#main #collection-container .collection ul {
    list-style: none;
    color: #444;
    font-weight: bold;
}
#main #popular-collection .see-more {
    text-align: right;
    margin: 2rem 0;
}
#main #popular-collection .see-more a {
    text-decoration: none;
    color: #e02c6d;
    font-weight: bold;
    font-size: 1.2rem;
}

#main #product-blog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    margin: 4rem 0;
}
#main #product-blog #product-content h2{
    font-size: 3rem;
    color: #333;
    margin-bottom: 1rem;
}


#footer{
    background-color: #0A0826;
}
#footer #footer-content {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
    color: #ffffff;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: .6rem;
}
#footer #footer-content h3 {
    font-size: 2.5rem;
}
#footer #footer-content #socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
Footer #footer-content #socials a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    padding: .4rem;
    border-radius: 50px;
}